.venue .map-wrapper {
  margin-top: 16px;
  border-radius: 10px;
  border: 1px solid var(--border-glow);
  overflow: hidden;
  box-shadow: var(--shadow-soft);

  height: 420px;
}

.options ul {
  padding-left: 18px;
  color: var(--text-muted);
}

.options li {
  margin-bottom: 6px;
}

.options .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options .card.shuttle-partner {
  position: relative;
}

.options .card.shuttle-partner .shuttle-logo {
  position: absolute;
  top: -6px;
  right: -29px;
  width: 167px;
  height: auto;
  transform: rotate(23deg);
}

.options .card.shuttle-partner .cta {
  margin-top: 12px;
}
