<section class="section paylogic">
  <div class="section-heading">
    <span class="eyebrow">Checkout</span>
    <h3>Schnapp dir dein Ticket!</h3>
  </div>

  <div class="iframe-wrap" [style.height.px]="iframeHeight">
    <!-- <iframe
      [src]="paylogicEmbed"
      marginwidth="0"
      marginheight="0"
      scrolling="auto"
      width="100%"
      name="paylogic_shop"
      data-embed="true"
      style="max-width: 100%"
      frameborder="0"
      id="paylogic_shop"
      title="Paylogic Checkout"
      loading="lazy"
      #iframe
      (load)="onIframeLoad()"
    ></iframe> -->

    <h3>Geht bald los!</h3>
  </div>
</section>
<!-- <p class="problem-text">
  Ticket Shop macht Probleme?
  <a
    class="problem-link"
    href="https://shop.paylogic.com/b6bc9231e9ca428a96862b6b04394506/?wmode=opaque"
    target="_blank"
    rel="noopener noreferrer"
    >Hier öffnen</a
  >
</p> -->
