.price {
  font-size: 24px;
  font-weight: 700;
  margin: 10px 0 8px;
}

.tickets-intro {
}

.ticket-grid .tiny {
  padding: 10px 12px;
  font-size: 14px;
}

.section-heading {
  padding-left: 32px;
  @media (max-width: 600px) {
    padding-left: 24px;
  }
}

.eyebrow {
  // hide on small screens
  @media (max-width: 600px) {
    display: none;
  }
}

.iframe-wrap {
  position: relative;
  width: 100%;
  min-height: 100px;
  border: 0px dashed var(--border-glow);
  // border-radius: var(--radius-lg);
  overflow: hidden;
  background: rgba(0, 0, 0, 0.35);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.paylogic {
  margin-top: 50px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

.iframe-wrap iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border: 0;
  background: transparent;
}

.notes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 12px;
  margin-top: 14px;
}

.problem-link {
  color: var(--accent);
  text-decoration: underline;
  color: var(--accent-lime);
}

.problem-text {
  padding: 5px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
